<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="container">
        <p class="left-component"> Serviços Prestados</p>

      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-header collapse="condense">

    <ion-toolbar>

      <ion-title size="large">Serviços Prestados</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <p-dropdown (click)="carregarPrestadores()" [options]="categorias" [(ngModel)]="selectedCity"
      placeholder="Selecione a Categoria" [showClear]="true"></p-dropdown>
    <ion-list>
      <ion-item *ngFor="let prestador of prestadores">
        <ion-card  (click)="abrirModal(prestador)">
          <ion-card-header>
            {{ prestador.especializacao }}
          </ion-card-header>
          <ion-card-content>
            {{ prestador.nome }}
          </ion-card-content>
          <ion-card-content>
            {{ prestador.portfolio }}
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>