<nb-layout>
  <nb-layout-column class="margem">
    <div class="null"></div>
    <nb-card>
      <nb-card-header>Recuperar Usuário e Senha</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Digite o email"
              [(ngModel)]="email"
            />
          </div>

          <div>
            <a class="entrar" [routerLink]="['/login']">Entrar</a>
          </div>

          <button
            nbButton
            status="primary"
            type="submit"
            class="btn btn-default"
            (click)="recuperar($event)"
          >
            Recuperar
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
