<div class="main">

    <p-carousel [value]="images" [numVisible]="4">
        <ng-template let-image pTemplate="item">
          <img [src]="image" alt="Imagem" />
        </ng-template>
      </p-carousel>
    <div class="servicos">
        <div class="linha" *ngFor="let servicos of servicosDivididos" style="display: flex">
            <div class="item mt-5 col-md-4 p-button" *ngFor="let servico of servicos" style="display: block;margin: 2em;">
                <p>{{servico.area}}</p>
                <p>{{servico.descricao}}</p>
                <p>{{servico.especialidade}}</p>
            </div>
        </div>
    </div>
    <button (click)="getServicos()">Teste</button>
</div>