.cardsCarrosel {
    transition: transform 0.3s ease;
}
.cardsCarrosel:hover {
    transform: scale(1.05); /* Aumenta a imagem em 5% */
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
  
    .card {
      width: 5rem;
      margin: 5rem 3rem 3rem 4rem;
      padding: 10px;
      background-color: #f0f0f0;
  
      @media (max-width: 768px) {
        width: 100%; /* Altere a largura para exibir 1 card por linha em dispositivos menores */
      }
    }
  }
  .scroll-container {
    max-height: 600px; /* Defina a altura máxima desejada para o contêiner */
    overflow: auto; /* Isso permite a rolagem apenas para o contêiner */
  }