.titulo {
  padding-left: 4.2rem;
}

.cardsCarrosel {
    transition: transform 0.3s ease;
}
.cardsCarrosel:hover {
    transform: scale(1.05);
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .card {
    width: calc(25% - 20px);
    margin: 2.5rem;
    display: inline-block;
    margin-left: 4.3rem;
  }

  .scroll-container {
    max-height: 600px;
    overflow: auto;
  }