.titulo {
  padding-left: 4.2rem;
  margin-bottom: 2rem;
}

.card:hover {
    transform: scale(1.05);
    border-color: rgb(123, 121, 219);
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 3rem;
  }

  .card {
    width: 18rem;
    margin: 2.5rem;
    display: inline-block;
    margin-left: 4.3rem;
    margin-right: 4rem;
    transition: transform 0.2s ease;
  }

  .scroll-container {
    max-height: 600px;
    overflow: auto;
  }