<div class="main">
  <p-carousel [value]="categorias" [circular]="true" [numVisible]="4">
    <ng-template let-categoria pTemplate="item">
      <div class="servicos">
        <div class="card mt-5 col-md-4 p-button" style="display: block;">
          <p>{{categoria}}</p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <h3 class="titulo">Prestadores mais bem avaliados:</h3>
  <div class="scroll-container" id="cards-container">
    <div *ngFor="let usuario of usuarios" class="card">
      <p-card>
        <ng-template pTemplate="title">
          Título do Card
        </ng-template>
        <ng-template pTemplate="content">
          {{ usuario.nome }}
        </ng-template>
      </p-card>
    </div>
  </div>
  <button (click)="getCategorias()">Teste</button>
</div>
