 <div class="Conteudo" style="margin: 5em 4em 5em 4em;">
  <h1>Perfil</h1>
  <div class="blocoImg" style="height: 500px; text-align: center;">

    <div class="imgPerfil">
      <div class="img" style="width: 150px; height: 150px; background-color: purple; border-radius: 50%;"></div>

    </div>
    <div class="info-perfil"; style="width: 30px; height: 500px; background-color: blueviolet;">

      <div class="info-1">

      </div>

      <div class="info-2">

      </div>

    </div>
</div>

</div>

