<div class="body" *ngIf="contratante">

  <img src="{{ contratante.foto }}" alt="Imagem de Perfil" />

  <div class="container">
    <div class="informacoes-pessoais">
      <h1>Informações Pessoais</h1>
      <div class="row">
        <div class=" col-md-4 mt-3">
          <label htmlFor="cpf" class="col-md-3">CPF:</label>
          <input pInputText class="col-md-9" id="area" [(ngModel)]="contratante.cpfCnpj" />
        </div>
        <div class=" col-md-4 mt-3">
          <label htmlFor="nome" class="col-md-3">Nome:</label>
          <input pInputText class="col-md-9" id="nome" [(ngModel)]="contratante.nome" />
        </div>
        <div class=" col-md-4 mt-3">
          <label htmlFor="telefone" class="col-md-3">Telefone:</label>
          <input pInputText class="col-md-9" id="telefone" [(ngModel)]="contratante.contato.telefone" />
        </div>
      </div>
    </div>
    <p-button label="Editar Perfil" (click)="editar()" *ngIf="isEditable"></p-button>
    <div class="contato">
      <div class="row">
        <div class=" col-md-4 mt-3">
          <label htmlFor="email" class="col-md-3">Email:</label>
          <input pInputText class="col-md-9" id="email" [(ngModel)]="contratante.contato.email" />
        </div>
        <div class=" col-md-4 mt-3">
          <label htmlFor="contato" class="col-md-3">Contato:</label>
          <input pInputText class="col-md-9" id="contato" [(ngModel)]="contratante.contato.contato" />
        </div>
      </div>
    </div>
    <div class="endereco mt-5">
      <div class="row">
        <div class=" col-md-4 mt-3">
          <label htmlFor="cep" class="col-md-3">CEP:</label>
          <input pInputText class="col-md-9" id="cep" [(ngModel)]="contratante.endereco.cep" />
        </div>
        <div class=" col-md-4 mt-3">
          <label htmlFor="logradouro" class="col-md-3">Logradouro:</label>
          <input pInputText class="col-md-9" id="logradouro" [(ngModel)]="contratante.endereco.logradouro" />
        </div>
        <div class=" col-md-4 mt-3">
          <label htmlFor="numero" class="col-md-3">Número:</label>
          <input pInputText class="col-md-9" id="numero" [(ngModel)]="contratante.endereco.numero" />
        </div>
      </div>
      <div class="row">
        <div class=" col-md-4 mt-3">
          <label htmlFor="cidade" class="col-md-3">Cidade:</label>
          <input pInputText class="col-md-9" id="cidade" [(ngModel)]="contratante.endereco.cidade" />
        </div>
        <div class=" col-md-4 mt-3">
          <label htmlFor="quadra" class="col-md-3">Quadra:</label>
          <input pInputText class="col-md-9" id="quadra" [(ngModel)]="contratante.endereco.quadra" />
        </div>
        <div class=" col-md-4 mt-3">
          <label htmlFor="lote" class="col-md-3">Lote:</label>
          <input pInputText class="col-md-9" id="lote" [(ngModel)]="contratante.endereco.lote" />
        </div>
      </div>
      <div class="pessoal" *ngIf="isEditable">
        <!-- coloque aqui o que for para bloquear se não for a pessoa autorizada a mecher <3 -->

      </div>
    </div>
  </div>

</div>