<html>
<!-- <div id="MenuCarrosel">

      <button id="BotaoMenuCarrosel" (click)="copiar()" nbButton>Serviço 1</button>
      <button id="BotaoMenuCarrosel" (click)="copiar()" nbButton>Serviço 2</button>
      <button id="BotaoMenuCarrosel" (click)="copiar()" nbButton>Serviço 3</button>
      <button id="BotaoMenuCarrosel" (click)="copiar()" nbButton>Serviço 4</button>
      <button id="BotaoMenuCarrosel" (click)="copiar()" nbButton>Serviço 5</button>



      <br> -->

      <h1>A nice carousel for any purpose</h1>
<div class="container">
  <button class="arrow-left control" aria-label="Previous image">◀</button>
  <button class="arrow-right control" aria-label="Next Image">▶</button>
  <div class="gallery-wrapper">
    <div class="gallery">
      <!--       <div class="item current-item cyan"></div>
      <div class="item deeppink"></div>
      <div class="item turquoise"></div>
      <div class="item darkblue"></div>
      <div class="item purple"></div> -->
      <img src="https://source.unsplash.com/random/250x250/?beach" alt="Beach Image" class="item current-item">
      <img src="https://source.unsplash.com/random/250x250/?animal" alt="Animal Image" class="item current-item">
      <img src="https://source.unsplash.com/random/250x250/?street" alt="Street Image" class="item current-item">
      <img src="https://source.unsplash.com/random/250x250/?zoo" alt="Zoo Image" class="item current-item">
      <img src="https://source.unsplash.com/random/250x250/?model" alt="Model Image" class="item current-item">
    </div>
  </div>
</div>

   <!--  </div> -->


    <div class="row">
      <div class="card">
            <img class="image" src="/assets/images/images (4).png">
            <h2>Nome</h2>
            <p>Especializaçao</p>
      </div>
      <div class="card">
            <img class="image" src="/assets/images/images (4).png">
            <h2>Nome</h2>
            <p>Especializaçao</p>
      </div>
      <div class="card">
            <img class="image" src="/assets/images/images (4).png">
            <h2>Nome</h2>
            <p>Especializaçao</p>
      </div>

    </div>

<!--
    <script type="text/javascript">

      var timer = 4000;

      var i = 0;
      var max = $('#c > li').length;

            $("#c > li").eq(i).addClass('active').css('left','0');
            $("#c > li").eq(i + 1).addClass('active').css('left','25%');
            $("#c > li").eq(i + 2).addClass('active').css('left','50%');
            $("#c > li").eq(i + 3).addClass('active').css('left','75%');


            setInterval(function(){

                  $("#c > li").removeClass('active');

                  $("#c > li").eq(i).css('transition-delay','0.25s');
                  $("#c > li").eq(i + 1).css('transition-delay','0.5s');
                  $("#c > li").eq(i + 2).css('transition-delay','0.75s');
                  $("#c > li").eq(i + 3).css('transition-delay','1s');

                  if (i < max-4) {
                        i = i+4;
                  }

                  else {
                        i = 0;
                  }

                  $("#c > li").eq(i).css('left','0').addClass('active').css('transition-delay','1.25s');
                  $("#c > li").eq(i + 1).css('left','25%').addClass('active').css('transition-delay','1.5s');
                  $("#c > li").eq(i + 2).css('left','50%').addClass('active').css('transition-delay','1.75s');
                  $("#c > li").eq(i + 3).css('left','75%').addClass('active').css('transition-delay','2s');

            }, timer);
 </script> -->
</html>
