<div class="body container">

    <p-dropdown [options]="ufs" [(ngModel)]="contratante.endereco.uf" optionLabel=""></p-dropdown>
    <div class="informacoes-pessoais col-md-5">
        <h1>Informações Pessoais</h1>
        <img src="{{ contratante.foto }}" alt="Imagem de Perfil" />
        <div>
            <div class="input-group">
                <label htmlFor="area" class="col-md-2">CPF:</label>
                <input pInputText class="col-md-10" id="area" [(ngModel)]="contratante.cpf" />
            </div>
            <div class="input-group">
                <label htmlFor="nome" class="col-md-2">Nome:</label>
                <input pInputText class="col-md-10" id="nome" [(ngModel)]="contratante.nome" />
            </div>
            <div class="input-group">
                <label htmlFor="telefone" class="col-md-2">Telefone:</label>
                <input pInputText class="col-md-10" id="telefone" [(ngModel)]="contratante.contato.telefone" />
            </div>
            <div class="input-group">
                <label htmlFor="email" class="col-md-2">Email:</label>
                <input pInputText class="col-md-10" id="email" [(ngModel)]="contratante.contato.email" />
            </div>
            <div class="input-group">
                <label htmlFor="contato" class="col-md-2">Contato:</label>
                <input pInputText class="col-md-10" id="contato" [(ngModel)]="contratante.contato.contato" />
            </div>
            <div class="endereco">
                <div class="input-group">
                    <label htmlFor="cep" class="col-md-2">CEP:</label>
                    <input pInputText class="col-md-10" id="cep" [(ngModel)]="contratante.endereco.cep" />
                </div>
                <div class="input-group">
                    <label htmlFor="logradouro" class="col-md-2">Logradouro:</label>
                    <input pInputText class="col-md-10" id="logradouro" [(ngModel)]="contratante.endereco.logradouro" />
                </div>
                <div class="input-group">
                    <label htmlFor="numero" class="col-md-2">Número:</label>
                    <input pInputText class="col-md-10" id="numero" [(ngModel)]="contratante.endereco.numero" />
                </div>
                <div class="input-group">
                    <label htmlFor="cidade" class="col-md-2">Cidade:</label>
                    <input pInputText class="col-md-10" id="cidade" [(ngModel)]="contratante.endereco.cidade" />
                </div>
                <div class="input-group">
                    <label htmlFor="quadra" class="col-md-2">Quadra:</label>
                    <input pInputText class="col-md-10" id="quadra" [(ngModel)]="contratante.endereco.quadra" />
                </div>
                <div class="input-group">
                    <label htmlFor="lote" class="col-md-2">Lote:</label>
                    <input pInputText class="col-md-10" id="lote" [(ngModel)]="contratante.endereco.lote" />
                </div>

                <div class="input-group">
                    <label htmlFor="bairro" class="col-md-2">Bairro:</label>
                    <input pInputText class="col-md-10" id="bairro" [(ngModel)]="contratante.endereco.bairro" />
                </div>
                <div class="input-group">
                    <label htmlFor="complemento" class="col-md-2">Complemento:</label>
                    <input pInputText class="col-md-10" id="complemento"
                        [(ngModel)]="contratante.endereco.complemento" />
                </div>

            </div>
        </div>
    </div>
</div>