<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <p-dropdown (click)="carregarServicosPrestados()" [options]="categorias" [(ngModel)]="categoria"
      placeholder="Selecione a Categoria" [showClear]="true"></p-dropdown>
    <ion-item *ngFor="let servicoPrestado of servicosPrestados">
      <ion-card class="ion-cartao" (click)="contratar(servicoPrestado)">
        <ion-card-header>
          Categoria: {{ servicoPrestado.area }}
        </ion-card-header>
        <ion-card-content>
          Serviço: {{ servicoPrestado.nome }}
        </ion-card-content>
        <ion-card-content>
          Descrição: {{ servicoPrestado.descricao }}
        </ion-card-content>
        <ion-card-content>
          R$ {{ servicoPrestado.valor }}
        </ion-card-content>
      </ion-card>

    </ion-item>

  </ion-list>
</ion-content>