<head>
  <meta charset="UTF-8" />
  <title>Cadastro de Prestador</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/eva-icons/style.min.css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
</head>
<body>
  <nb-layout>
    <nb-layout-column>
      <h1>Cadastre-se</h1>

      <nb-stepper style="width: 50px !important" #stepper [linear]="linearMode">
        <nb-step [stepControl]="form" label="Dados Pessoais">
          <nb-card style="margin: 0; border: 0">
            <nb-card-header
              style="width: 50%; margin: 0 auto; text-align: center"
              >Dados Pessoais</nb-card-header
            >

            <div class="tentativa">
              <form [formGroup]="form">
                <div class="container">
                  <div class="row">
                    <div class="col md-3 mx-auto">
                      <label class="label" for="input-nomecompleto"
                        >Nome Completo<br
                      /></label>
                      <br />
                      <input
                        required
                        type="text"
                        nbInput
                        status="basic"
                        placeholder="Nome Completo"
                        formControlName="nomecompleto"
                        [(ngModel)]="dadosPj.nome"
                        [status]="preencheu(dadosPj.nome)? 'danger' : 'basic'">
                      />
                    </div>
                    <br />
                    <div class="col md-3 mx-auto">
                      <label class="label" for="input-CPF">CNPJ</label><br />
                      <input
                        required
                        type="text"
                        nbInput
                        mask="00.000.000/0000-00"
                        [showMaskTyped]="true"
                        status="basic"
                        placeholder="00.000.000/0000-00"
                        formControlName="cnpj"
                        [(ngModel)]="dadosPj.cpf"
                        [status]="preencheu(dadosPj.cpf)? 'danger' : 'basic'">
                      />
                    </div>
                  </div>
                </div>
                <br />
                <div class="container">
                  <div class="row">
                    <div class="col md-3 mx-auto">
                      <label class="label" for="input-email" pattern=".+@.+..+"
                        >Email</label
                      ><br />
                      <input
                        required
                        type="email"
                        nbInput
                        status="basic"
                        placeholder="Seu melhor email!"
                        formControlName="email"
                        [(ngModel)]="dadosPj.contato.email"
                        [status]="valida(dadosPj.contato.email)? 'danger' : 'basic'">
                      /><br />
                    </div>
                    <div class="col md-3 mx-auto">
                      <label class="label" for="input-telefone">Celular</label
                      ><br />
                      <input
                        required
                        type="text"
                        nbInput
                        mask="(00) 00000-0000"
                        status="basic"
                        placeholder="Seu melhor contato"
                        formControlName="telefone"
                        [(ngModel)]="dadosPj.contato.telefone"
                        [status]="preencheu(dadosPj.contato.telefone)? 'danger' : 'basic'">
                      /><br /><br />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button
                        style="float: right; width: 80px; height: 40px"
                        nbButton
                        nbStepperNext
                        [disabled]="!form.valid"
                      >
                        Avançar
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </nb-card>
        </nb-step>

        <nb-step label="Endereço">
          <nb-card>
            <nb-card-header
              style="width: 50%; margin: 0 auto; text-align: center"
              >Endereço</nb-card-header
            >
            <nb-card-body class="card1">
              <div class="tentativa">
                <form [formGroup]="formreg2">
                  <label class="label" for="input-CEP">CEP</label><br />
                  <input
                    requierd
                    type="text"
                    nbInput
                    mask="00.000-000"
                    [showMaskTyped]="true"
                    status="basic"
                    placeholder="00.000-000"
                    formControlName="cep"
                    required
                    [(ngModel)]="dadosPj.endereco.cep"
                    [status]="preencheu(dadosPj.endereco.cep)? 'danger' : 'basic'">
                  /><br />
                  <label class="label" for="input-logradouro">Logradouro</label
                  ><br />
                  <input
                    type="text"
                    nbInput
                    status="basic"
                    placeholder="Insira o CEP"
                    formControlName="logradouro"
                    required
                    [(ngModel)]="dadosPj.endereco.logradouro"
                    [status]="preencheu(dadosPj.endereco.logradouro)? 'danger' : 'basic'">
                  />
                  <div class="row">
                    <div class="col-md-3">
                      <label class="label" for="input-numero">Número</label
                      ><br />
                      <input
                        style="width: 100px !important"
                        type="text"
                        nbInput
                        status="basic"
                        placeholder="Número"
                        formControlName="numero"
                        required
                        [(ngModel)]="dadosPj.endereco.numero"
                        [status]="preencheu(dadosPj.endereco.numero)? 'danger' : 'basic'">
                      />
                    </div>
                    <div class="col-md-3">
                      <label class="label" for="input-qd">Quadra</label><br />
                      <input
                        style="width: 100px !important"
                        type="text"
                        nbInput
                        status="basic"
                        placeholder="QD"
                        formControlName="quadra"
                        [(ngModel)]="dadosPj.endereco.quadra"
                        [status]="preencheu(dadosPj.endereco.quadra)? 'danger' : 'basic'">
                      />
                    </div>
                    <div class="col-md-3">
                      <label class="label" for="input-lt">Lote</label><br />
                      <input
                        style="width: 100px !important"
                        type="text"
                        nbInput
                        status="basic"
                        placeholder="Lote"
                        formControlName="lote"
                        [(ngModel)]="dadosPj.endereco.lote"
                        [status]="preencheu(dadosPj.endereco.lote)? 'danger' : 'basic'">
                      />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-md-6">
                      <label class="label" for="input-cidade">Cidade</label
                      ><br />
                      <input
                        style="align-items: left; width: 130px !important"
                        type="text"
                        nbInput
                        status="basic"
                        placeholder="Insira o CEP!"
                        formControlName="cidade"
                        required
                        [(ngModel)]="dadosPj.endereco.cidade"
                        [status]="preencheu(dadosPj.endereco.cidade)? 'danger' : 'basic'">
                      />
                    </div>
                    <div class="col-md-3">
                      <label class="label" for="input-estado">Estado</label
                      ><br />
                      <input
                        style="align-items: right; width: 130px !important"
                        type="text"
                        nbInput
                        status="basic"
                        placeholder="Insira o CEP!"
                        formControlName="uf"
                        required
                        [(ngModel)]="dadosPj.endereco.uf"
                        [status]="preencheu(dadosPj.endereco.uf)? 'danger' : 'basic'">
                      />
                    </div>
                  </div>
                  <label class="label" for="input-complemento"
                    >Complemento e Referência</label
                  ><br />
                  <input
                    style="align-items: center; width: 260px !important"
                    type="text"
                    nbInput
                    status="basic"
                    placeholder=""
                    formControlName="Complemento"
                    [(ngModel)]="dadosPj.endereco.complemento"
                    [status]="preencheu(dadosPj.endereco.complemento)? 'danger' : 'basic'">
                  /><br />
                  <br /><br />
                  <button
                    style="align-items: left; width: 130px !important"
                    status="basic"
                    nbButton
                    nbStepperPrevious
                  >
                    Voltar
                  </button>

                  <button
                    style="float: right; width: 80px; height: 40px"
                    nbButton
                    nbStepperNext
                    [disabled]="!formreg2.valid"
                  >
                    Avançar
                  </button>
                </form>
              </div>
            </nb-card-body>
          </nb-card>
        </nb-step>
        <nb-step label="Informações Profissionais">
          <nb-card>
            <nb-card-header
              style="width: 50%; margin: 0 auto; text-align: center"
              >Informações Profissionais</nb-card-header
            >
            <nb-card-body>
              <div class="infoprof">
                <form [formGroup]="infoprof">
                  <div class="col-md-3">
                    <label class="label" for="input-">Área de Atuação</label
                    ><br />
                    <nb-select [(ngModel)]="selecionado"
                    >
                      <nb-option *ngFor="let item of itens" [value]="item">{{
                        item
                      }}</nb-option>
                    </nb-select>
                  </div>
                  <div class="col-md-3">
                    <label class="label" for="input-complemento">Serviços</label
                    ><br />

                    <div>
                      <input
                        style="align-items: center; width: 260px !important"
                        type="text"
                        nbInput
                        status="basic"
                        placeholder=""
                        formControlName="servico"
                        [(ngModel)]="servico"
                      />
                      <button
                        (click)="adicionarServico()"
                        style="margin-left: 10px"
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>

                    <table>
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nome de Serviço</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let servico of dadosPj.listadeservico;
                            let i = index
                          "
                        >
                          <td>{{ i + 1 }}</td>
                          <td>{{ servico }}</td>
                          <td>
                            <button (click)="removerServico(i)">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="tabeladispon">
                    <table class="tabeladisp">
                      <tr>
                        <caption class="label">
                          Disponibilidade de Horários
                        </caption>
                      </tr>
                      <tr>
                        <th></th>
                        <th>Segunda</th>
                        <th>Terça</th>
                        <th>Quarta</th>
                        <th>Quinta</th>
                        <th>Sexta</th>
                        <th>Sábado</th>
                        <th>Domingo</th>
                      </tr>
                      <tr>
                        <td>07:00 12:00</td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(0, 0)"
                            [checked]="disponibilidade[0][0]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(0, 1)"
                            [checked]="disponibilidade[0][1]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(0, 2)"
                            [checked]="disponibilidade[0][2]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(0, 3)"
                            [checked]="disponibilidade[0][3]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(0, 4)"
                            [checked]="disponibilidade[0][4]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(0, 5)"
                            [checked]="disponibilidade[0][5]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(0, 6)"
                            [checked]="disponibilidade[0][6]"
                          ></nb-checkbox>
                        </td>
                      </tr>
                      <tr>
                        <td>12:00 18:00</td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(1, 0)"
                            [checked]="disponibilidade[1][0]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(1, 1)"
                            [checked]="disponibilidade[1][1]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(1, 2)"
                            [checked]="disponibilidade[1][2]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(1, 3)"
                            [checked]="disponibilidade[1][3]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(1, 4)"
                            [checked]="disponibilidade[1][4]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(1, 5)"
                            [checked]="disponibilidade[1][5]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(1, 6)"
                            [checked]="disponibilidade[1][6]"
                          ></nb-checkbox>
                        </td>
                      </tr>
                      <tr>
                        <td>18:00 23:00</td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(2, 0)"
                            [checked]="disponibilidade[2][0]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(2, 1)"
                            [checked]="disponibilidade[2][1]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(2, 2)"
                            [checked]="disponibilidade[2][2]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(2, 3)"
                            [checked]="disponibilidade[2][3]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(2, 4)"
                            [checked]="disponibilidade[2][4]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(2, 5)"
                            [checked]="disponibilidade[2][5]"
                          ></nb-checkbox>
                        </td>
                        <td>
                          <nb-checkbox
                            (change)="selecionar(2, 6)"
                            [checked]="disponibilidade[2][6]"
                          ></nb-checkbox>
                        </td>
                      </tr>
                    </table>
                  </div>
                </form>
              </div>
              <button
                style="align-items: left; width: 130px !important"
                status="basic"
                nbButton
                nbStepperPrevious
              >
                Voltar
              </button>

              <button
                style="float: right; width: 80px; height: 40px"
                nbButton
                nbStepperNext
                [disabled]="!formreg2.valid"
              >
                Avançar
              </button>
            </nb-card-body>
          </nb-card>
        </nb-step>
        <nb-step label="Imagem de Perfil">
          <nb-card>
            <nb-card-header>Imagem de Perfil</nb-card-header>
            <nb-card-body>
              <div class="file-input">
                <label for="imagemPerfil"
                  >Clique aqui para escolher sua imagem.</label
                >
                <input
                  type="file"
                  name="imagemPerfil"
                  id="imagemPerfil"
                  (change)="previewImage($event)"
                />
                <img id="preview-img" class="image-preview" src="" alt="" />
              </div>
              <br /><br />

              <button
                style="align-items: left; width: 130px !important"
                status="basic"
                nbButton
                nbStepperPrevious
              >
                Voltar
              </button>
            </nb-card-body>
          </nb-card>
          <button
            style="float: left; position: relative; left: 43% !important"
            nbButton
            (click)="cadastrar()"
          >
            Completar Cadastro
          </button>
        </nb-step>
        <nb-step [hidden]="true">
          <div class="step-container">
            <h3>Wizard completed!</h3>
            <button nbButton (click)="stepper.reset()">Try again</button>
          </div>
        </nb-step>
      </nb-stepper>
    </nb-layout-column>
  </nb-layout>
</body>
