/* Estilo do menu header */
div.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #813de0;
}

/* Estilo do logo */
div.menu .logo {
  height: 50px;
  width: auto;
}

/* Estilo dos botões */
div.menu button {
  background-color: #6d30b3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

/* Efeito hover nos botões */
div.menu button:hover {
  background-color: #a25fe7;
}

/* Estilo da caixa de pesquisa */
div.menu input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

/* Estilo do botão de login */
div.menu button[name="login"] {
  background-color: #af72f3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

/* Efeito hover no botão de login */
div.menu button[name="login"]:hover {
  background-color: #a25fe7;
}

/* Estilo da foto do usuário */
div.menu .userPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* Estilo da imagem do usuário */
div.menu .userPhoto img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
