<div class="menu">
  <a href="#"
    ><img class="logo" src="/assets/images/Logodevnari.png" alt=" "
  /></a>
  <div class="login">
    <button [routerLink]="['/login']">Entrar</button>
  </div>

  <button>Procurar servicos</button>
  <span class="p-input-icon-right">
    <i class="pi pi-search"></i>
    <input type="text" placeholder="Procurar Prestador" />
  </span>

  <div class="userPhoto">
    <nb-user
      [nbContextMenu]="items"
      [onlyPicture]="userPictureOnly"
      [name]="user.name"
      [picture]="user.picture"
    >
    </nb-user>
  </div>
</div>
