<div class="main">

  <div class="box-login">
    <h2 style="text-align: center; margin-bottom: 1em;">Login</h2>
    <span class="p-float-label user ">
      <input pInputText id="username" class=" col-md-12" [(ngModel)]="username" />
      <label htmlFor="username">Username</label>
    </span>

    <span class="p-float-label label senha" >
      <p-password [(ngModel)]="password" [toggleMask]="true" ></p-password>
      <label htmlFor="password">password</label>
    </span>
    <button (click)="entrar()" pButton pRipple label="Entrar" class="p-button-success"></button>
    <button (click)="cadastrar()" pButton pRipple label="Cadastrar" class="p-button-success"></button>
  </div>
</div>