.main {
margin-top: 3em;
width:  100%;
align-items: center;
display: flex;
}

.box-login {
    display: inline-block;
    padding: 3rem 5.2rem 3rem 3rem;
    align-items: center;
    margin: 0 auto;

}

.p-float-label {
    margin-bottom: 20px;
}

.botao {
    width: 8rem;
}

.botaoGrande {
    width: 8rem;
    margin-right: -1rem !important;
}