<div class="main">

  <div class="box-login">
    <h2 style="text-align: center; margin-bottom: 1em;">Entrar</h2>
    <span class="p-float-label user ">
      <input pInputText id="username" class=" col-md-12" [(ngModel)]="username" />
      <label htmlFor="username">Usuário</label>
    </span>

    <span class="p-float-label label senha" >
      <input [(ngModel)]="password" type="password" [style]="{'width':' 100%'}" pInputText />
      <label htmlFor="password">Senha</label>
    </span>
    <div class="d-flex justify-content-between">

    <button (click)="entrar()" pButton pRipple label="Entrar" ></button>
    <button (click)="cadastrar()" pButton pRipple label="Cadastrar" ></button>
  </div>
  <div class="row">
    <div class="col-md-6 mt-3">
      <button (click)="entrar()" pButton pRipple label="Recuperar" ></button>
    </div>
    <div class="col-md-6 mt-3">
      <button (click)="cadastrar()" pButton pRipple label="Seja um prestador"></button>
    </div>

    </div>
  </div>
</div>
