<div class="container">
    <div class="servico.servicos">
        <h1>Serviços</h1>
        <div class="row">
            <div class="col-md-4">
                <label htmlFor="area" class="col-md-4">Área:</label>
                <input disabled="true" pInputText class="col-md-8" id="area" [(ngModel)]="servico.servico.area" />
            </div>
            <div class="col-md-4">
                <label class="col-md-4">Descricao:</label>
                <input disabled="true" pInputText class="col-md-8" [(ngModel)]="servico.servico.descricao" />
            </div>
            <div class="col-md-4">
                <label class="col-md-4">Especialidade:</label>
                <input disabled="true" pInputText class="col-md-8" [(ngModel)]="servico.servico.especialidade" />
            </div>
        </div>
        <h3>Prestador</h3>
        <div class="row">
            <div class=" col-md-4 mt-3">
                <label htmlFor="cpf" class="col-md-4">CPF:</label>
                <input pInputText disabled="true" class="col-md-8" id="area" [(ngModel)]="servico.prestador.cpf" />
            </div>
            <div class=" col-md-4 mt-3">
                <label htmlFor="nome" class="col-md-4">Nome:</label>
                <input pInputText disabled="true" class="col-md-8" id="nome" [(ngModel)]="servico.prestador.nome" />
            </div>
            <div class=" col-md-4 mt-3">
                <label htmlFor="telefone" class="col-md-4">Telefone:</label>
                <input pInputText disabled="true" class="col-md-8" id="telefone"
                    [(ngModel)]="servico.prestador.contato.telefone" />
            </div>
        </div>
        <div class="row">
            <div class=" col-md-4 mt-3">
                <label htmlFor="especializacao" class="col-md-4">Especializacao:</label>
                <input pInputText disabled="true" class="col-md-8" id="especializacao"
                    [(ngModel)]="servico.prestador.especializacao" />
            </div>
        </div>
        <div class="row">
            <div class=" col-md-4 mt-3">
                <label htmlFor="descricaoAdicional" class="col-md-4">Descricao Adicional:</label>
                <textarea disabled="true" pInputTextarea class="col-md-8" id="descricaoAdicional"
                    [(ngModel)]="servico.prestador.descricaoAdicional">
              </textarea>
            </div>
            <div class=" col-md-4 mt-3">

                <p-button label="Ir para o perfil do prestador" icon="pi pi-file-edit" styleClass="p-button-info"
                    (click)="abrirPerfilPrestador()"></p-button>
            </div>
        </div>
        <p-button label="Contratar" icon="pi pi-file-edit" styleClass="p-button-success"></p-button>
    </div>
</div>