<div class="container">
    <!-- Dados do Prestador -->
    <div class="row">
        <div class="col-md-4">
            <!-- Foto do Prestador -->
            <img src="assets\images\images.jpeg" alt="Imagem de Perfil" class="img-fluid" />
        </div>
        <div class="col-md-8">
            <div class="informacoes-pessoais">
                <h1>Informações do Prestador</h1>
                <div class="col-md-6">
                    <label>Nome:</label>
                    <span> {{ prestador.nome }}</span>
                </div>
                <div class="col-md-6">
                    <label>Telefone:</label>
                    <span> {{ prestador.contato.telefone}}</span>
                </div>
                <div class="col-md-6">
                    <label>Cidade:</label>
                    <span> {{ prestador.endereco.cidade }}</span>
                </div>
                <div class="col-md-6">
                    <label>Email:</label>
                    <span> {{ prestador.contato.email }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row boxes">
        <div class="col-md-4">
            <div class="destacado">
                <h4>Serviço(s) Escolhido(s):</h4>
                <li *ngFor="let servico of servicos">
                    {{ servico.servico.nome }}
                </li>
            </div>
        </div>
        <div class="col-md-4">
            <div class="destacado" *ngFor="let servico of servicos">
                <h5>Valor do Serviço(s):</h5>
                <ul>
                     <li>
                        R${{ servico.valor}}
                    </li>
                </ul>
                <hr>
                <p>Valor Total: R${{ valorTotal  }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="destacado">
                <h4>Agendar Data e Hora:</h4>
                <p-calendar [(ngModel)]="date"></p-calendar>
            </div>
        </div>
    </div>

    <div class="row">
        <div>
            <button pButton (click)="verContrato()" class="butao" type="button" label="Contratar"></button>
        </div>
    </div>
</div>