<div class="body container">
  <div class="informacoes-pessoais">
    <div class="box-img">
      <h1 class="h-text">Informações Pessoais</h1>
      <img src="{{ contratante.foto }}" alt="Imagem de Perfil" style="display: block;" />
      <input type="file" name="foto" (change)="onFileSelected($event)" accept="image/*" />
    </div>
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="form-group">
          <label for="cpfCnpj">CPF:</label>
          <input pInputText id="cpfCnpj" [(ngModel)]="contratante.cpfCnpj" (blur)="validarECorrigirCPF()" maxlength="11" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input pInputText id="nome" [(ngModel)]="contratante.nome" />
        </div>
      </div>
    </div>
  </div>
  <div class="contato">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="telefone">Telefone:</label>
          <input pInputText id="telefone" [(ngModel)]="contratante.contato.telefone" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="email">Email:</label>
          <input pInputText id="email" [(ngModel)]="contratante.contato.email" />
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="endereco mt-4">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="uf">Estado:</label>
            <p-dropdown [options]="ufs" [(ngModel)]="contratante.endereco.uf" optionLabel="" id="uf" [style]="{'width':'66.666%'}"></p-dropdown>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="cep">CEP:</label>
            <input pInputText id="cep" [(ngModel)]="contratante.endereco.cep" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="numero">Número:</label>
            <input pInputText id="numero" [(ngModel)]="contratante.endereco.numero" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="cidade">Cidade:</label>
            <input pInputText id="cidade" [(ngModel)]="contratante.endereco.cidade" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="bairro">Setor:</label>
            <input pInputText id="bairro" [(ngModel)]="contratante.endereco.bairro" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="complemento">Complemento:</label>
            <input pInputText id="complemento" [(ngModel)]="contratante.endereco.complemento" />
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success"></button>
    </div>
  </div>
</div>
