<head>
  <meta charset="UTF-8" />
  <title>Cadastro de Usuário</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/eva-icons/style.min.css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
</head>
<body>
  <nb-layout>
    <nb-layout-column>

      <h1>Cadastre-se</h1>
      <form>
        <nb-stepper
          style="width: 50px !important"
          #stepper
          [linear]="linearMode"
          disableStepNavigation
        >
          <nb-step [stepControl]="form" label="Dados Pessoais">
            <form [formGroup]="form">
              <nb-card style="margin: 0; border: 0; ">
                <nb-card-header
                  style="width: 50%; margin: 0 auto; text-align: center"
                  >Dados Pessoais</nb-card-header
                >

                  <div class="tentativa">
                    <form [formGroup]="form">
                      <div class="container">
                        <div class="row">
                          <div class="col md-3 mx-auto">
                            <label class="label" for="input-nomecompleto"
                              >Nome Completo<br
                            /></label>
                            <br />
                            <input
                              required
                              type="text"
                              nbInput
                              status="basic"
                              placeholder="Nome Completo"
                              formControlName="nomecompleto"
                              [(ngModel)]="dadosPf.nome"

                            />
                          </div>
                          <br />
                          <div class="col md-3 mx-auto">
                            <label class="label" for="input-CPF">CPF</label
                            ><br />
                            <input
                              required
                              type="text"
                              nbInput
                              mask="000.000.000-00"
                              [showMaskTyped]="true"
                              status="basic"
                              placeholder="000.000.000-00"
                              formControlName="cpf"
                              [(ngModel)]="dadosPf.cpf"

                            />
                          </div>
                        </div>
                      </div>
                      <br />
                      <div class="container">
                        <div class="row">
                          <div class="col md-3 mx-auto">
                            <label
                              class="label"
                              for="input-email"
                              pattern=".+@.+..+"
                              >Email</label
                            ><br />
                            <input
                              required
                              type="email"
                              nbInput
                              status="basic"
                              placeholder="Seu melhor email!"
                              formControlName="email"
                              [(ngModel)]="dadosPf.contato.email"
                            /><br />
                          </div>
                          <div class="col md-3 mx-auto">
                            <label class="label" for="input-telefone"
                              >Telefone</label
                            ><br />
                            <input
                              required
                              type="text"
                              nbInput
                              mask="(00) 0000-0000"
                              status="basic"
                              placeholder="Seu melhor contato"
                              formControlName="telefone"
                              [(ngModel)]="dadosPf.contato.telefone"
                            /><br /><br />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <button
                              style="float: right; width: 80px; height: 40px"
                              nbButton
                              nbStepperNext
                              [disabled]="!form.valid"
                            >
                              Avançar
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </nb-card>

            </form></nb-step>

          <nb-step label="Endereço">
            <nb-card>
              <nb-card-header
                style="width: 50%; margin: 0 auto; text-align: center"
                >Endereço</nb-card-header
              >
              <nb-card-body class="card1">
                <div class="tentativa">
                  <form [formGroup]="formreg2">
                    <label class="label" for="input-CEP">CEP</label><br />
                    <input
                      requierd
                      type="text"
                      nbInput
                      mask="00.000-000"
                      [showMaskTyped]="true"
                      status="basic"
                      placeholder="00.000-000"
                      formControlName="cep"
                      required
                      [(ngModel)]="dadosPf.endereco.cep"
                    /><br />
                    <label class="label" for="input-logradouro"
                      >Logradouro</label
                    ><br />
                    <input
                      type="text"
                      nbInput
                      status="basic"
                      placeholder="Insira o CEP"
                      formControlName="logradouro"
                      required
                      [(ngModel)]="dadosPf.endereco.logradouro"
                    />
                    <div class="row">
                      <div class="col-md-3">
                        <label class="label" for="input-numero">Número</label
                        ><br />
                        <input
                          style= " width: 100px !important"
                          type="text"
                          nbInput
                          status="basic"
                          placeholder="Número"
                          formControlName="numero"
                          required
                          [(ngModel)]="dadosPf.endereco.numero"
                        />
                      </div>
                      <div class="col-md-3">
                        <label class="label" for="input-qd">Quadra</label><br />
                        <input
                          style="width: 100px !important"
                          type="text"
                          nbInput
                          status="basic"
                          placeholder="QD"
                          formControlName="quadra"
                          [(ngModel)]="dadosPf.endereco.quadra"
                        />
                      </div>
                      <div class="col-md-3">
                        <label class="label" for="input-lt">Lote</label><br />
                        <input
                          style="width: 100px !important"
                          type="text"
                          nbInput
                          status="basic"
                          placeholder="Lote"
                          formControlName="lote"
                          [(ngModel)]="dadosPf.endereco.lote"

                        />
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-md-6">
                        <label class="label" for="input-cidade">Cidade</label
                        ><br />
                        <input
                          style="align-items: left; width: 130px !important"
                          type="text"
                          nbInput
                          status="basic"
                          placeholder="Insira o CEP!"
                          formControlName="cidade"
                          required
                          [(ngModel)]="dadosPf.endereco.cidade"
                        />
                      </div>
                      <div class="col-md-3">
                        <label class="label" for="input-estado">Estado</label
                        ><br />
                        <input
                          style="align-items: right; width: 130px !important"
                          type="text"
                          nbInput
                          status="basic"
                          placeholder="Insira o CEP!"
                          formControlName="uf"
                          required
                          [(ngModel)]="dadosPf.endereco.uf"
                        />
                      </div>

                    </div>
                    <label class="label" for="input-complemento"
                    >Complemento e Referência</label
                    ><br />
                    <input
                    style="align-items:center; width: 260px !important"
                    type="text"
                      nbInput
                      status="basic"
                      placeholder=""
                      formControlName="Complemento"
                      [(ngModel)]="dadosPf.endereco.complemento"

                  ><br />
                    <br /><br />
                    <button
                      style="align-items: left; width: 130px !important"
                      status="basic"
                      nbButton
                      nbStepperPrevious
                    >
                      Voltar
                    </button>

                    <button
                      style="float: right; width: 80px; height: 40px"
                      nbButton
                      nbStepperNext
                      [disabled]="!formreg2.valid"
                    >
                      Avançar
                    </button>
                  </form>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-step>
          <nb-step label="Imagem de Perfil">
            <nb-card>
              <nb-card-header>Imagem de Perfil</nb-card-header>
              <nb-card-body>
                <div class="file-input">
                  <label for="imagemPerfil"
                    >Clique aqui para escolher sua imagem.</label
                  >
                  <input
                    type="file"
                    name="imagemPerfil"
                    id="imagemPerfil"
                    (change)="previewImage($event)"
                  />
                  <img id="preview-img" class="image-preview" src="" alt="" />
                </div>
                <br /><br />

                <button
                  style="align-items: left; width: 130px !important"
                  status="basic"
                  nbButton
                  nbStepperPrevious
                >
                  Voltar
                </button>
              </nb-card-body>
            </nb-card>
            <button
              style="float: left; position: relative; left: 43% !important"
              nbButton
              (click)="cadastrar()"
            >
              Completar Cadastro
            </button>
          </nb-step>
        </nb-stepper>
      </form>
    </nb-layout-column>
  </nb-layout>
</body>
