.titulo-prestador{
  text-align: center;
}

.container {
  margin-top: 3em;
}

.servicos {
  background-color: lightblue;
  padding: 2em;
}

.btn-edit {
  margin-top: 2em;
}

.servico {
  margin-top: 3em;
}
