<div class="container" *ngIf="prestador">
  <div class=" row">
    <div class="col-md-4">
      <!-- Foto do Prestador -->
      <img src="{{ prestador.foto }}" alt="Imagem de Perfil" class="img-fluid" />
    </div>
    <div class="col-md-8">
      <!-- Informações do Prestador -->
      <div class="informacoes-pessoais">
        <h1>Informações Pessoais</h1>
        <div class="row">
          <div class="col-md-6">
            <label>Nome:</label>
            <span>{{ prestador.nome }}</span>
          </div>
          <div class="col-md-6">
            <label>Telefone:</label>
            <span>{{ prestador.contato.telefone }}</span>
          </div>
          <div class="col-md-6">
            <label>Cidade:</label>
            <span>{{ prestador.endereco.cidade }}</span>
          </div>
          <div class="col-md-6">
            <label>Email:</label>
            <span>{{ prestador.contato.email }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
  <div class="row">
    <div class="col-md-6">
      <!-- Áreas de Atuação -->
      <div class="areas-de-atuacao destacado">
        <h2>Áreas de Atuação:</h2>
        <p>{{ prestador.especializacao }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="servicos-prestados destacado">
        <h2>Serviços Prestados</h2>
        <!-- <p-multiSelect [style]="{'width' : '73%'}" [options]="prestador.servicosPrestados" [group]="true" [(ngModel)]="servicoSelecionado" placeholder="Select Cities" scrollHeight="250px" display="chip">
          <ng-template let-group pTemplate="group">
              <div class="flex align-items-center">
                  <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px" />
                  <span>{{ group.label }}</span>
              </div>
          </ng-template>
      </p-multiSelect> -->
        <div>
          <p-multiSelect [style]="{'width' : '73%'}" [options]="prestador.servicosPrestados" [(ngModel)]="servicoSelecionado" optionLabel="servico.nome"></p-multiSelect>
        </div>
      </div>
    </div>
  </div>
  <div class="botaoContratar">
  <p-button label="Contratar Serviços" (click)="enviarServicosSelecionados()"></p-button>
</div>
</div>
