.img-fluid {
  width: 25rem;
  height: 20rem;
  border-radius: 8px;
}


.informacoes-pessoais h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.informacoes-pessoais label {
  font-weight: bold;
}

.informacoes-pessoais span {
  display: block;
  margin-bottom: 10px;
}

.informacoes-pessoais .col-md-6 {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 15px;
}

.informacoes-pessoais::after {
  content: "";
  display: table;
  clear: both;
}
.destacado {
  background-color: #f2f2f2; /* Cor de fundo destacada */
  padding: 20px; /* Espaçamento interno para criar o efeito do quadrado */
  border: 2px solid #dddddd; /* Borda ao redor do quadrado */
  border-radius: 5px; /* Borda arredondada */
  margin-bottom: 3rem;
  min-height: 15rem;
}