body {
  background-color: #f7f9fc;
}
nb-card-body{
  background-color: #f7f9fc;
}
nb-layout {
  height: 100vh;

}
.null {
height: 130px ;
}
nb-card {
  margin: 0 auto;
  width: 500px;
}

nb-card-header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(164, 114, 233);
}

form {
  margin-top: 20px;
}
margem {
  margin: 0%;
}
.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  height: 35px;
  font-size: 16px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nb-checkbox {
  margin-top: 10px;
}

button[type="submit"] {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #813de0c9 !important;

}

button[type="submit"]:hover{
  background-color: #c392f4 !important;
}
