.contrato {
    font-family: Arial, sans-serif;
   
    justify-content: left; /* Centraliza horizontalmente */
    align-items: left; /* Centraliza verticalmente */
    height: 100vh; /* Isso garante que o contêiner ocupe toda a altura da janela de visualização */
    margin: 0 auto;
    width: 80%;
}

h1 {
    text-align: center;
    font-size: 24px;
}

p {
    font-size: 14px;
}

strong {
    font-weight: bold;
}

.teste {
    display: flex !important;
    justify-content: space-between;
}