<h4 class="titulo">Propostas recebidas:</h4>
<div class="row mt-12 destacado" *ngFor="let item of list; let i = index">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="meio">#{{ 1 + i }}</h5>
        <div class="status" [style.background-color]="getStatusBackgroundColor(item.status)">
          <label>{{ getStatusDescricao(item.status) }}</label>
        </div>
      </div>
    <div class="row">
        <div class="col-md-7">
            <div>
                <label class="d-block">Contratante:</label>
                <input [style]="{ width: '60%'}" class="campoBonito" [(ngModel)]="item.nome" [disabled]="true" />
            </div>
        </div>
        
        <div class="col-md-3">
            <div>
                <label class="d-block">Local do serviço:</label>
                <input class="campoBonito" [(ngModel)]="item.cidade" [disabled]="true"/>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <div>
                <label class="d-block">Área do serviço escolhido:</label>
                <input class="campoBonito" [(ngModel)]="item.area" [disabled]="true" />
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <div>
                <label class="d-block">Serviço:</label>
                <input [style]="{ width: '100%'}" class="campoBonito" [(ngModel)]="item.servico" [disabled]="true" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <label class="d-block">Valor do serviço:</label>
                <input class="campoBonito" [(ngModel)]="item.valor" [disabled]="true" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <label class="d-block">Data do serviço:</label>
                <input class="campoBonito" [(ngModel)]="item.data" [disabled]="true" />
            </div>
        </div>
        <div class="col-md-5 mt-4">
            <p-button [style]="{ width: '45%', 'margin-right': '30px', background: '#78dd75', 'border-color': '#78dd75'}" label="Aceitar proposta" *ngIf="item.status === Status.EM_ANALISE" (click)="aceitar()"></p-button>
            <p-button [style]="{ width: '45%', background: '#e95e6c', 'border-color': '#e95e6c'}" label="Recusar proposta" *ngIf="item.status === Status.EM_ANALISE" (click)="recusar()"></p-button>
            <p-button [style]="{ width: '45%', 'margin-right': '30px', background: '#78dd75', 'border-color': '#78dd75'}" label="Finalizar serviço" *ngIf="item.status === Status.INICIADA" (click)="finalizar()"></p-button>
            <p-button [style]="{ width: '45%',background: '#e95e6c', 'border-color': '#e95e6c'}" label="Cancelar serviço" *ngIf="item.status === Status.INICIADA" (click)="cancelar()"></p-button>
        </div>
    </div>
</div>
