<h4 class="titulo">Propostas recebidas:</h4>
<div class="row mt-12 destacado" *ngFor="let item of historicos; let i =index">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="meio">#{{ 1 + i }}</h5>
        <div class="status" [style.background-color]="getStatusBackgroundColor(item.status)">
            <label>{{ getStatusDescricao(item.status) }}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div>
                <label class="d-block">Contratante:</label>
                <input [style]="{ width: '60%'}" class="campoBonito" [(ngModel)]="item.contratante.nome"
                    [disabled]="true" />
            </div>
            <div>
                <label class="d-block">Prestador:</label>
                <input [style]="{ width: '60%'}" class="campoBonito" [(ngModel)]="item.prestador.nome"
                    [disabled]="true" />
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <label class="d-block">Local do serviço:</label>
                <input class="campoBonito" [(ngModel)]="item.contratante.endereco.cidade" [disabled]="true" />
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <div>
                <label class="d-block">Área do serviço escolhido:</label>
                <input class="campoBonito" [(ngModel)]="item.servico.servico.area" [disabled]="true" />
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <div>
                <label class="d-block">Serviço:</label>
                <input [style]="{ width: '100%'}" class="campoBonito" [(ngModel)]="item.servico.servico.nome"
                    [disabled]="true" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <label class="d-block">Valor do serviço:</label>
                <label class="campoBonito">{{item.servico.valor| currency:'BRL':'symbol':'1.2-2'}}</label>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <label class="d-block">Data do serviço:</label>
                <label class="campoBonito">{{item.dataExecucaoServico|date:'dd/MM/yyyy'}}</label>
            </div>
        </div>
        <div class="col-md-5 mt-4">
            <p-button
                [style]="{ width: '45%', 'margin-right': '30px', background: '#78dd75', 'border-color': '#78dd75'}"
                label="Aceitar proposta" *ngIf="item.status === 'EM_ANALISE'"
                (click)="mudarStatusServico(item, 'AGENDADA')"></p-button>
            <p-button [style]="{ width: '45%', background: '#e95e6c', 'border-color': '#e95e6c'}"
                label="Recusar proposta" *ngIf="item.status === 'EM_ANALISE'"
                (click)="mudarStatusServico(item, 'RECUSADA')"></p-button>
            <p-button
                [style]="{ width: '45%', 'margin-right': '30px', background: '#78dd75', 'border-color': '#78dd75'}"
                label="Iniciar serviço" *ngIf="item.status === 'AGENDADA'"
                (click)="mudarStatusServico(item, 'INICIADA')"></p-button>
            <p-button
                [style]="{ width: '45%', 'margin-right': '30px', background: '#78dd75', 'border-color': '#78dd75'}"
                label="Finalizar serviço" *ngIf="item.status === 'INICIADA'"
                (click)="mudarStatusServico(item, 'FINALIZADA')"></p-button>
            <p-button [style]="{ width: '45%',background: '#e95e6c', 'border-color': '#e95e6c'}"
                label="Cancelar serviço"
                *ngIf="item.status !== 'CANCELADA' && item.status !== 'FINALIZADA' && item.status !== 'RECUSADA'  && item.status !== 'EM_ANALISE'"
                (click)="mudarStatusServico(item, 'CANCELADA')"></p-button>
        </div>
    </div>
</div>