<div class="row mt-12 destacado">
    <h5>#1</h5>
    <div class="row">
        <div class="col-md-7">
            <div class="mb-2">
                <label class="d-block">Contratante:</label>
                <input class="campoBonito" [(ngModel)]="nome" [disabled]="true" />
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="mb-2">
                <label class="d-block">Local do serviço:</label>
                <input class="campoBonito" [(ngModel)]="cidade" [disabled]="true"/>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="mb-2">
                <label class="d-block">Área do serviço escolhido:</label>
                <input class="campoBonito" [(ngModel)]="area" [disabled]="true" />
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="mb-2">
                <label class="d-block">Serviço:</label>
                <input class="campoBonito" [(ngModel)]="servico" [disabled]="true" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-2">
                <label class="d-block">Valor do serviço:</label>
                <input class="campoBonito" [(ngModel)]="valor" [disabled]="true" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-2">
                <label class="d-block">Data do serviço:</label>
                <input class="campoBonito" [style]="{ width: '20rem' }" [(ngModel)]="data" [disabled]="true" />
            </div>
        </div>
    </div>
</div>
