<div class="Conteudo">
  <h1 class="titulo">Perfil</h1>
  <div class="bloco-info-perfil">
    <div class="img-perfil">
      <div class="box-img" href="">

      </div>
    </div>
    <div class="box-info">
      <div class="info">
        <label class="nome-info">Nome: </label>
        <p class="recebe-info">{{ p.nome }}</p>
      </div>

      <div class="info">
        <label class="nome-info">Telefone: </label>
        <p class="recebe-info">{{ p.contato.telefone }}</p>
      </div>
      <div class="info">
        <label class="nome-info">Cidade/Estado: </label>
        <p class="recebe-info">{{ p.endereco.cidade }}/{{p.endereco.uf}}</p>
      </div>

    </div>
    <button (click)="carregaDados()">bla</button>
    <div class="box-texto">
      <label class="nome-texto"><STRONG>Sobre mim: </STRONG></label>
      <P class="texto">{{texto}}</P>
    </div>

  </div>
  <div class="bloco-inferior">
    <div class="bloco-servicos">

      <h2>Serviços Prestados:</h2>
      <div class="box-servico" *ngFor="let i of p.servicosPrestados">
        <div class="info-servico">
          <label class="nome-servico">  </label>
          <input class="recebe-servico" type="text"[readonly]="!editarCampos">
        </div>
        <button class="contratar">Contratar</button>
      </div>
    </div>

    <div class="bloco-avaliacao">
      <label class="titulo-avaliacao">Avaliação:</label>
      <label class="nota">1/10</label>
    </div>
  </div>

</div>

