<div class="Conteudo">
  <h1>Perfil</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="blocoImg">
        <div class="imgPerfil">
          <div class="box-img"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="bloco-info">
        <li>
          <div class="box-info">
            <label class="nome-info" for="">Alguma coisa: </label>
            <input class="recebe-info" type="text">
          </div>
          <div class="box-info">
            <label class="nome-info" for="">Alguma coisa: </label>
            <input class="recebe-info" type="text">
          </div>
          <div class="box-info">
            <label class="nome-info" for="">Alguma coisa: </label>
            <input class="recebe-info" type="text">
          </div>
          <div class="box-info">
            <label class="nome-info" for="">Alguma coisa: </label>
            <input class="recebe-info" type="text">
          </div>
          <div class="box-info">
            <label class="nome-info" for="">Alguma coisa: </label>
            <input class="recebe-info" type="text">
          </div>
          <div class="box-info">
            <label class="nome-info" for="">Alguma coisa: </label>
            <input class="recebe-info" type="text">
          </div>
          <div class="box-info">
            <label class="nome-info" for="">Alguma coisa: </label>
            <input class="recebe-info" type="text">
          </div>
          <div class="box-info">
            <label class="nome-info" for="">Alguma coisa: </label>
            <input class="recebe-info" type="text">
          </div>
          <div class="box-info">
            <label class="nome-info" for="">Alguma coisa: </label>
            <input class="recebe-info" type="text">
          </div>

        </li>
      </div>
    </div>
  </div>
</div>
