.Conteudo{
  margin: 5em 4em 5em 4em;
}

.titulo{
  margin-left: 36px;
}

.img-perfil{
  margin-right: 40px;
}

.bloco-info-perfil{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.box-info{
margin-right: 150px;
}

.info{
margin-bottom: 20px;
}

.nome-info{
  font-weight: bold;
margin-right: 10px;
}

.box-texto{
  word-wrap: break-word;
  border: 3px solid gray;
  background-color:rgb(214, 213, 213);
  padding: 20px 20px;
 width: 600px;
 border-radius: 15px;
}

.recebe-info{
  border-radius: 10px;
  padding: 3px 6px;
  border: solid 1px black;
  background-color: rgb(214, 213, 213);
  display: inline;
  margin: 0;
}

.box-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: purple;
}

.bloco-servicos{
  height: auto;
  border-width: 4px;
  border-radius: 20px;
  border-color: black;
  padding: 2em 2em 2em 2em;
  background-color: lightgray;
 }

 .box-servico{
  margin-bottom: 20px;
 }

 .nome-servico{
  font-size: 7;
  margin-right: 20px;
 }

 .recebe-servico{
  width: 150px;
  font-size: 5;
  border-radius: 10px;
  padding: 4px 4px 4px 4px;
  border: 2px solid rgb(37, 37, 37);
  background-color: rgb(161, 161, 161);
 }


.bloco-avaliacao{
  height: auto;
  border-width: 4px;
  border-radius: 20px;
  border-color: black;
  padding: 2em 2em 2em 2em;
  background-color: lightgray;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.col {
  padding: 0px 5px;
}

