<div class="Conteudo">
  <h1 class="titulo">Perfil</h1>
  <div class="bloco-info-perfil">
    <div class="img-perfil">
      <div class="box-img" href="">

      </div>
    </div>
    <div class="box-info">
      <div class="info">
        <label class="nome-info">Nome: </label>
        <p class="recebe-info">Zé da Manga</p>
      </div>

      <div class="info">
        <label class="nome-info">Telefone: </label>
        <p class="recebe-info">(62) 96666-6666</p>
      </div>
      <div class="info">
        <label class="nome-info">Cidade/Estado: </label>
        <p class="recebe-info">GYN/GO</p>
      </div>

    </div>

    <div class="box-texto">
      <label class="nome-texto"><STRONG>Sobre mim: </STRONG></label>
      <P class="texto">{{texto}}</P>
    </div>

  </div>
  <div class="bloco-inferior">
    <div class="bloco-servicos">


      <div class="box-servico">
        <div class="info-servico">
          <label class="nome-servico">Serviço 1: </label>
          <input class="recebe-servico" type="text"[readonly]="!editarCampos">
        </div>
        <button class="contratar">Contratar</button>
      </div>

      <div class="box-servico">
        <div class="info-servico">
          <label class="nome-servico">Serviço 2: </label>
          <input class="recebe-servico" type="text" [readonly]="!editarCampos">
        </div>
        <button class="contratar">Contratar</button>
      </div>

      <div class="box-servico">
        <div class="info-servico">
          <label class="nome-servico">Serviço 3: </label>
          <input class="recebe-servico" type="text" [readonly]="!editarCampos">
        </div>
        <button class="contratar">Contratar</button>
      </div>

      <div class="box-servico">
        <div class="info-servico">
          <label class="nome-servico">Serviço 4: </label>
          <input class="recebe-servico" type="text" [readonly]="!editarCampos">
        </div>
        <button class="contratar">Contratar</button>
      </div>

      <div class="box-servico">
        <div class="info-servico">
          <label class="nome-servico">Serviço 5: </label>
          <input class="recebe-servico" type="text" [readonly]="!editarCampos">
        </div>
        <button class="contratar">Contratar</button>
      </div>

      <div class="box-servico">
        <div class="info-servico">
          <label class="nome-servico">Serviço 6: </label>
          <input class="recebe-servico" type="text" [readonly]="!editarCampos">
        </div>
        <button class="contratar">Contratar</button>
      </div>
    </div>

    <div class="bloco-avaliacao">
      <label class="titulo-avaliacao">Avaliação:</label>
      <label class="nota">1/10</label>
    </div>
  </div>

</div>

