.Conteudo{
  margin: 5em 4em 5em 20em;
}


.img-perfil{
  margin-right: 40px;
}

.bloco-info-perfil{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.box-info{
  margin-right: 150px;
}

.info{
  margin-bottom: 20px;
}

.nome-info{
  font-weight: bold;
  margin-right: 10px;
}

.box-texto{
  width: 600px;
  padding: 20px 20px;
  border-radius: 15px;
  word-wrap: break-word;
  border: 3px solid gray;
  background-color:#edf1f7;
}

.recebe-info{
  display: inline;
  padding: 3px 6px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: #edf1f7;
}

.box-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.bloco-servicos{
  width: 40%;
  height: auto;
  text-align: center;
  margin-right: 10%;
  border-radius: 20px;
  border: 3px solid gray;
  padding: 2em 2em 2em 2em;
  background-color: #edf1f7;
 }

 .box-servico{
  margin-bottom: 20px;
 }

 .nome-servico{
  font-size: 7;
  margin-right: 20px;
 }

 .recebe-servico{
  width: 200px;
  font-size: 5;
  border-radius: 10px;
  padding: 4px 4px 4px 4px;
  border: 2px solid hsl(0, 0%, 36%);
 }


.bloco-avaliacao{
  width: 400px;
  float: right;
  height: auto;
  text-align: center;
  border-width: 4px;
  position: relative;
  border-radius: 20px;
  font-size: xx-large;
  border: 3px solid gray;
  padding: 2em 2em 2em 2em;
  background-color:#edf1f7;
}

.bloco-inferior{
  display: flex;
}

.info-servico{
  margin-right: 30px;
  display: inline;
  width: auto;
}

.nota{
  font-size: 50px;
  display: block;
  margin-top: 40px;
}

.titulo-avaliacao{
  font-size: 30px;
  margin-bottom: 20px;
}

.contratar{
  border-radius: 10px;
  padding: 4px 6px;
  background-color: rgb(164, 114, 233);
}
