<button (click)="openPopup()">Abrir Popup</button>

<div class="dialogBox">
<p-dialog header="Avalie este item" [(visible)]="visible" [modal]="true" [closable]="false" [baseZIndex]="10000">
  <div class="stars">
    <span class="star" (click)="rate(1)" [class.active]="stars! >= 1">★</span>
    <span class="star" (click)="rate(2)" [class.active]="stars! >= 2">★</span>
    <span class="star" (click)="rate(3)" [class.active]="stars! >= 3">★</span>
    <span class="star" (click)="rate(4)" [class.active]="stars! >= 4">★</span>
    <span class="star" (click)="rate(5)" [class.active]="stars! >= 5">★</span>
  </div>
  <p>{{ stars }} estrelas</p>
  <p-button (click)="closePopup()">Avaliar</p-button>
</p-dialog>
</div>