// import Nebular Theme System and the default theme
@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';



.nb-theme-default nb-card {
  $background-color: #fff0;
  // $border: 0.0625rem solid #e4e9f2;
  $border-radius: 0.25rem;
  $box-shadow: none;
  $color: #222b45;
  $font-family: 'Open Sans', sans-serif;
  $font-size: 0.9375rem;
  $font-weight: 400;
  $line-height: 1.25rem;
  $margin-bottom: 1.875rem;
  $scrollbar-face-color: #e4e9f2;
  $scrollbar-track-color: #f7f9fc;

  background-color: $background-color;
  // border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  margin-bottom: $margin-bottom;
  scrollbar-face-color: $scrollbar-face-color;
  scrollbar-track-color: $scrollbar-track-color;
}
