<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <ion-item>
      <ion-card class="ion-cartao">
        <ion-card-content>
          <ion-item>
            <ion-input label="usuário" labelPlacement="floating" placeholder="usuário" [(ngModel)]="usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Senha" labelPlacement="floating" placeholder="senha" [(ngModel)]="senha"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-button (click)="login()">Login</ion-button>
    <ion-button (click)="cadastrar()">Cadastrar</ion-button>
  </ion-content>
</ion-content>