<div class="body container">

  <div class="informacoes-pessoais">
      <h1>Informações Pessoais</h1>
      <div>
        <input type="file" (change)="service.onFileSelected($event)" />
      </div>
      
      <div *ngIf="service.selectedImage">
        <h3>Imagem Selecionada:</h3>
        <img [src]="service.base64String" alt="Imagem Selecionada" style="max-width: 100%;" />
      </div>
      <div class="row">
          <div class="col-md-3 mt-3">
              <label htmlFor="area" class="col-md-3">CPF:</label>
              <input pInputText class="col-md-9" id="area" [(ngModel)]="prestador.cpfCnpj" />
          </div>
          <div class="col-md-2 mt-3">
              <label htmlFor="nome" class="col-md-3">Nome:</label>
              <input pInputText class="col-md-9" id="nome" [(ngModel)]="prestador.nome" />
          </div>
      </div>
  </div>
  <div class="contato">
      <div class="row">
          <div class="col-md-4 mt-3">
              <label htmlFor="telefone" class="col-md-3">Telefone:</label>
              <input pInputText class="col-md-9" id="telefone" [(ngModel)]="prestador.contato.telefone" />
          </div>
          <div class="col-md-4 mt-3">
              <label htmlFor="email" class="col-md-3">Email:</label>
              <input pInputText class="col-md-9" id="email" [(ngModel)]="prestador.contato.email" />
          </div>
          <div class="col-md-4 mt-3">
              <label htmlFor="contato" class="col-md-3">Contato:</label>
              <input pInputText class="col-md-9" id="contato" [(ngModel)]="prestador.contato.contato" />
          </div>
      </div>
      <div class="endereco mt-5">
          <div class="row">
              <div class="col-md-4 mt-3">
                  <label htmlFor="uf" class="col-md-3">Estado:</label>
                  <p-dropdown [options]="ufs" [(ngModel)]="prestador.endereco.uf" optionLabel="" id="uf"
                      [style]="{'width':'75%'}"></p-dropdown>
              </div>
              <div class="col-md-4 mt-3">
                  <label htmlFor="cep" class="col-md-3">CEP:</label>
                  <input pInputText class="col-md-9" id="cep" [(ngModel)]="prestador.endereco.cep" />
              </div>
              
          </div>
          <div class="row">
              <div class="col-md-4 mt-3">
                  <label htmlFor="numero" class="col-md-3">Número:</label>
                  <input pInputText class="col-md-9" id="numero" [(ngModel)]="prestador.endereco.numero" />
              </div>
              <div class="col-md-4 mt-3">
                  <label htmlFor="cidade" class="col-md-3">Cidade:</label>
                  <input pInputText class="col-md-9" id="cidade" [(ngModel)]="prestador.endereco.cidade" />
              </div>
              
          </div>
          <div class="row">
              

              <div class="col-md-4 mt-3">
                  <label htmlFor="bairro" class="col-md-3">Bairro:</label>
                  <input pInputText class="col-md-9" id="bairro" [(ngModel)]="prestador.endereco.bairro" />
              </div>
              <div class="col-md-4 mt-3">
                  <label htmlFor="complemento" class="col-md-3">Complemento:</label>
                  <input pInputText class="col-md-9" id="complemento"
                      [(ngModel)]="prestador.endereco.complemento" />
              </div>
          </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
          <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="cadastrar()"></button>
      </div>
  </div>
</div>
