<div class="body container">
  <div class="informacoes-pessoais">
    <div class="box-img">
      <h1 class="h-text">Informações Pessoais</h1>
      <div>
        <h6>Selecione sua imagem de perfil!</h6>
        <input type="file" (change)="service.onFileSelected($event)" />
      </div>

      <div *ngIf="service.selectedImage" class="img-container">
        <h6>Imagem Selecionada:</h6>
        <img [src]="service.base64String" alt="Imagem Selecionada" class="rounded-image" />
      </div>
    </div>

    <div class="row mt-5 destacado">
      <h5>Dados pessoais:</h5>
      <div class="col-md-3">
        <div class="form-group">
          <label for="cpfCnpj">CPF:</label>
          <p-inputMask mask="999.999.999-99" id="cpfCnpj" [(ngModel)]="prestador.cpfCnpj" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="nome">Nome completo</label>
          <input pInputText id="nome" [(ngModel)]="prestador.nome" />
        </div>
      </div>
    </div>
  </div>

  <div class="row destacado">
    <h5>Contato:</h5>
    <div class="col-md-3">
      <div class="form-group">
        <label for="telefone">Celular:</label>
        <p-inputMask mask="(99)9 9999-9999" id="telefone" [(ngModel)]="prestador.contato.telefone" />
      </div>
    </div>

    <div class="col-md-3"></div>
  </div>
  <div class="contato">
    <div class="endereco destacado">
      <div class="row" style="margin-left: 3em">
        <h5>Endereço:</h5>
        <div class="col-md-3">
          <div class="form-group">
            <label for="cep">CEP:</label>
            <p-inputMask mask="99.999-999" id="cep" [(ngModel)]="prestador.endereco.cep"
              (ngModelChange)="onCepChange()" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="uf">Estado:</label>
            <p-dropdown [options]="ufs" [(ngModel)]="prestador.endereco.uf" optionLabel="" id="uf"
              [style]="{ width: '66.666%' }"></p-dropdown>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="cidade">Cidade:</label>
            <input pInputText id="cidade" [(ngModel)]="prestador.endereco.cidade" [disabled]="true" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="bairro">Setor:</label>
            <input pInputText id="bairro" [(ngModel)]="prestador.endereco.bairro"
              [disabled]="prestador.endereco.cep.length !== 10" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="numero">Número:</label>
            <input pInputText id="numero" [(ngModel)]="prestador.endereco.numero"
              [disabled]="prestador.endereco.cep.length !== 10" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="complemento">Complemento:</label>
            <input pInputText id="complemento" [(ngModel)]="prestador.endereco.complemento"
              [disabled]="prestador.endereco.cep.length !== 10" />
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-12 destacado">
      <h5>Cadastrar Servicos</h5><p-button (click)="showDialog()" icon="pi pi-external-link" label="+"></p-button><br>
      <div class="row " *ngFor="let servico of prestador.servicosPrestados">
        <div class="col-md-3">
          <div class="form-group">
            <label>Área do serviço</label>
            <input pInputText id="email" [(ngModel)]="servico.servico.area" [disabled]="true" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Nome do serviço</label>
            <input pInputText id="email" [(ngModel)]="servico.servico.descricao" [disabled]="true" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="descricaoServico">Descrição do Serviço</label>
            <input pInputText id="descricaoServico" [(ngModel)]="servico.servico.descricao" [disabled]="true" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="valorServico">Valor do Serviço</label>
            <input pInputText id="valorServico" [(ngModel)]="servico.servico.descricao" [disabled]="true" />
          </div>
        </div>
      </div>
    </div>


    <div class="row mt-5 destacado">
      <h5>Dados de acesso</h5>
      <div class="col-md-3">
        <div class="form-group">
          <label for="cpfCnpj">Email de acesso</label>
          <input pInputText id="email" [(ngModel)]="prestador.contato.email" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="nome">Senha</label>
          <p-password [toggleMask]="true" id="senha" [(ngModel)]="prestador.usuario.password" />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="cadastrar()"></button>
    </div>
  </div>

  <p-dialog header="Adicionar Serviço" [(visible)]="visible">
    <p-dropdown [options]="categorias" [(ngModel)]="novoServico.servico.area"></p-dropdown>
    <label>Nome:</label>
    <input pInputText id="nomeServico" [(ngModel)]="novoServico.servico.nome" />
    <label>Descrição:</label>
    <input pInputText id="nomeServico" [(ngModel)]="novoServico.servico.descricao" />
    <label>Valor: R$ </label>
    <p-inputNumber inputId="value" mode="decimal" [(ngModel)]="novoServico.valor"> </p-inputNumber>
    <p-button label="Adicionar" (click)="adicionarServico()"></p-button>
  </p-dialog>
</div>