.menu {
  background-color: blue;
  margin: 0;
  height: 3.1em ;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px;
}
.item-menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
/* Estilo para o botão */
.aaa {
  height: 8em;
  width: 8em; /* Largura do botão */
  background-color: blue; /* Cor de fundo inicial */
  transition: background-color 0.2s ease; /* Efeito de transição suave */
  border: none !important;
}
img {
  max-width: 100%;
  height: 3.4em;

}
/* Efeito de hover */
.aaa:hover {
  background-color: #57bef571; /* Cor de fundo ao passar o mouse */
}

.p-button {
  height: 2em;
}
.p-button:active{
  outline: none; /* Remove a borda de foco padrão */
  border: none !important; /* Remove qualquer borda ou destaque */
}
