<div class="footer">
    <div class=" institucional">
      <header>Institucional</header>
      <ul>
        <a (click)="rota()"> <li>Quem somos</li></a>
        <a (click)="rota()"> <li>Trabalhe conosco</li></a>
        <a (click)="rota()"> <li>Profissionais verificados</li></a>
        <a (click)="rota()"> <li>Mapa do site</li></a>
      </ul>
    </div>
    <div class="redes-sociais">
      <header>Siga-nos<br></header>
      <a (click)="rota()"><i class="pi pi-facebook"></i></a>
      <a (click)="rota()"><i class="pi pi-twitter"></i></a>
      <a (click)="rota()"><i class="pi pi-instagram"></i></a>
      <a (click)="rota()"><i class="pi pi-linkedin"></i></a>
    </div>
    <div class="playstore">
<header>App disponivel em:<br></header>
    <br><a (click)="rota()"><img src="assets/images/google-play.png" alt="disponivel no google play"></a>
  </div>
</div>


