
<nb-layout-footer><div class="footer">
  <div class="categorias">
    <ul>
      <header>Serviços em:</header>
      <a href="#">
        <li *ngFor="let categoria of categorias">{{ categoria }}</li>
      </a>
    </ul>
  </div>
  <div class="institucional">
    <ul>
      <header>Institucional:</header>
      <a href="#"> <li>Quem somos</li></a>
      <a href="#"> <li>Trabalhe conosco</li></a>
      <a href="#"> <li>Profissionais verificados</li></a>
      <a href="#"> <li>Mapa do site</li></a>
    </ul>
  </div>
  <div class="redes-sociais">
    <header>Siga-nos<br></header>
    <a href=""><i class="pi pi-facebook"></i></a>
    <a href=""><i class="pi pi-twitter"></i></a>
    <a href=""><i class="pi pi-instagram"></i></a>
    <a href=""><i class="pi pi-linkedin"></i></a>
  </div><div class="imgs">
    <a href="#"><img src="assets/images/google-play.png" alt="disponivel no google play"></a>
</div>
</div>
</nb-layout-footer>
