/* Estilo para o footer */
.footer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #813de0;
}

/* Estilo para as categorias */
.categorias ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categorias header {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.categorias li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #ffffff;
}

.categorias a {
  text-decoration: none;
  color: #ffffff
}

.categorias a:hover {
  text-decoration: underline;
}

/* Estilo para o institucional */
.institucional ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.institucional header {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color:#ffffff
}

.institucional li {
  color:#ffffff;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.institucional a {
  text-decoration: none;
  color: #ffffff;
}

.institucional a:hover {
  text-decoration: underline;
}

/* Estilo para as redes sociais */

.redes-sociais {
  display: inline-block;
  margin-left: auto;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

.redes-sociais label {
  font-weight: bold;
  margin-right: 0.5rem;
  color: #ffffff;
}

.redes-sociais a {
  text-decoration: none;
  color: #ffffff;
}

.redes-sociais header {
  color: #ffffff;
}

.redes-sociais a:hover {
  text-decoration: underline;
}

.redes-sociais i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #ffffff;
}

/* Estilo para a imagem do google play */
.footer img {
  height: 30px;
  object-fit: cover;
}

.imgs {

  display: inline-block;
  margin-left: 2rem;
  margin-bottom: 4rem !important;

}

.categorias {
  margin-right: 3rem;
}

.institucional {
  margin-left: 4rem;
}
