.footer {
  background-color: blue;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 5.5em;
  justify-content: space-around;
  color: white;
  position: relative;
  margin-top: 7rem;
}

.categorias {
  text-align: left;
  padding-right: 5rem;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.redes-sociais {
  text-align: left;
  padding-right: 5rem;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer .institucional a {
  line-height: 0.5;
  font-size: smaller;
}

.footer img {
  max-width: 2rem;
  padding: 0 0 2px 6px;
}

.institucional {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 5rem;
}

.institucional header {
  margin-bottom: 10px !important;
}

.institucional ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
}

.institucional li {
  margin-right: 10px !important;
}

.institucional a {
  color: white !important;
  text-decoration: none !important;
}

.institucional a:hover {
  text-decoration: underline !important;
}

.playstore {
  display: flex;
}

.pi {
  padding-right: 5px;
}

.pi-facebook {
  margin-left: calc(10px - 18px);
}

/* Adicione isso ao seu arquivo de estilo (por exemplo, styles.css) */
a:hover {
  cursor: pointer; /* Altera o cursor para a mão ao passar o mouse sobre links */
}

.header:hover {
  cursor: pointer; /* Altera o cursor para a mão ao passar o mouse sobre elementos com a classe 'header' */
}

.redes-sociais i:hover {
  cursor: pointer; /* Altera o cursor para a mão ao passar o mouse sobre ícones dentro de elementos com a classe 'redes-sociais' */
}
